@model guestbook.Models.message
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<form asp-action="Reply" asp-controller="Users" method="post">
        <input type="hidden" value="@ViewData["C"]" id="chatId" />
    <div class="form-group row">
            <label >Message</label>
            <input class="form-control" type="text" asp-for="msg" />
        </div>
         <br />
            <button type="submit" id="write">Write Message</button>
</form>